<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería - Automóviles Empresa</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../imagenes/images-3.jpeg" alt="Automóviles Empresa">
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a class="active" href="galeria.html">Galería</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="gallery">
            <h2>Galería</h2>
            <div class="gallery-grid">
                <a href="../imagenes/images-2.jpeg" data-lightbox="gallery" data-title="Descripción de la Imagen 1"><img src="../imagenes/images-2.jpeg" alt="Imagen 1"></a>
                <a href="../imagenes/images-3.jpeg" data-lightbox="gallery" data-title="Descripción de la Imagen 2"><img src="../imagenes/images-3.jpeg" alt="Imagen 2"></a>
                <a href="../imagenes/images-4.jpeg" data-lightbox="gallery" data-title="Descripción de la Imagen 3"><img src="../imagenes/images-4.jpeg" alt="Imagen 3"></a>
            </div>
            <h2>Otros tipos de modelos</h2>
            <div class="gallery-grid">
                <a href="../imagenes/images.jpeg" data-lightbox="gallery" data-title="Descripción de la Imagen 1"><img src="../imagenes/images.jpeg" alt="Imagen 1"></a>
                <a href="../imagenes/images-5.jpeg" data-lightbox="gallery" data-title="Descripción de la Imagen 4"><img src="../imagenes/images-5.jpeg" alt="Imagen 4"></a>
            </div> 
        </section> <!-- Aquí se agrega la etiqueta de cierre -->
    </main>

    <footer>
        <div class="social">
            <a href="https://www.facebook.com/tuempresa" target="_blank"><img src="../imagenes/Logo_de_Facebook.png" alt="Facebook"></a>
            <a href="https://twitter.com/tuempresa" target="_blank"><img src="../imagenes/twitter-x-logo-0339F999CF-seeklogo.com.png" alt="Twitter"></a>
            <a href="https://www.linkedin.com/company/tuempresa" target="_blank"><img src="../imagenes/174857.png" alt="LinkedIn"></a>
            <a href="https://www.instagram.com/tuempresa" target="_blank"><img src="../imagenes/Instagram_logo_2016.svg.png" alt="Instagram"></a>
        </div>
        <div class="address">Calle de los Automóviles, 123, Ciudad, País</div>
        <div class="legal">
            <a href="../views/aviso_lagal.html">Aviso Legal</a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>
</body>
</html>
